# Stripe keys
STRIPE_PUBLISHABLE_KEY=pk_test_51HIHnEI5c5rLhZzj8LtgFxt04cEQNDwhYTiz5uw8fvyv0o4PSrbr6cI5afXb9PgKGrxfG03G5y1k25eeeKl42zjA00t3kKsI9A
STRIPE_SECRET_KEY=sk_test_51HIHnEI5c5rLhZzjClhBroBFiPB7sBdcGK1TKGEVJEhTtKDjEZ4FgwRmSe6gk5J8wfcCXDXLGBqB4AI6cjgCRxnY00wQBP1ZBe
STRIPE_WEBHOOK_SECRET=whsec_KMYZYjDkahoDgaMPGEGuOVXCq3hPpSOl

# Environment variables
STATIC_DIR=../client

# Checkout settings 
DOMAIN=http://localhost:4242
